<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
{% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "searchprojee/css/bootstrap.min.css " %}">
    <title>Search engine</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" style="text-align:center">
                <h1>STATISTICS TABLE</h1></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Processing Type
                        </th>
                        <th>
                            No of Nodes
                        </th>
                        <th>
                            Crawling Time in seconds
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>
                            Single Processing
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            28.4346288622
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Parallel Processing
                        </td>
                        <td>
                        
                        </td>
                        <td>
                        
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 1
                        </td>
                        <td>
                            60.6623586825
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 2
                        </td>
                        <td>
                            55.663594198
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 3
                        </td>
                        <td>
                            49.552355567
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 4
                        </td>
                        <td>
                            45.446133560
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 5
                        </td>
                        <td>
                            43.657365261
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 6
                        </td>
                        <td>
                            40.657365261
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 7
                        </td>
                        <td>
                            38.043267891
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 8
                        </td>
                        <td>
                            35.34879023
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 9
                        </td>
                        <td>
                        31.567823590
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 10
                        </td>
                        <td>
                            26.462498107
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 11
                        </td>
                        <td>
                            22.345768198
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            
                        </td>
                        <td>
                            Processor 12
                        </td>
                        <td>
                            18.324578124
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            Hadoop processing
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            
                        </td>
                        <td>
                            cluster 1
                        </td>
                        <td>
                            20.2351889077
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            
                        </td>
                        <td>
                            cluster 2
                        </td>
                        <td>
                            14.4025478712
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            
                        </td>
                        <td>
                            cluster 3
                        </td>
                        <td>
                            11.5328720310
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            
                        </td>
                        <td>
                            cluster 4
                        </td>
                        <td>
                        7.76589236432
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
